---
import Layout from "../layouts/Layout.astro";
---

<Layout
  description="Noe gikk galt"
  tab_title="Noe gikk galt"
  page_title="Oops, noe gikk galt"
>
  <div class="py-4">
    <a
      href="/"
      class="mr-2 rounded border-2 border-gray-700 bg-green-700 px-4 py-2 font-semibold text-white hover:bg-green-800 hover:shadow"
      >trykk her</a
    >
    <span>for å gå tilbake til startsiden</span>
  </div>
</Layout>
