---
import Layout from "../layouts/Layout.astro";

import tidsskriftkassett from "../assets/about-images/tidsskriftkassett.webp";
import ark1 from "../assets/about-images/web_slitt-ark-1.jpg";
import ark2 from "../assets/about-images/web_slitt-ark-2.jpg";
import ResponsiveImage from "../components/ResponsiveImage.astro";
---

<Layout
  page_title="Om Siden"
  description="Bakgrunn for siden"
  tab_title="Om Siden"
>
  <div class="mx-auto max-w-4xl">
    <p>
      Bente har alltid vært opptatt av baking og matlaging, og gjennom årene har
      det blitt samlet mange oppskrifter. Oppskriftene kan være ut klipp av
      magasiner, aviser, skrevet på ark eller handlelapper, utskrifter fra nett.
      Men alt er skrevet på papir og oppbevares i en gammel, nokså nedslit <span
        class="italic">tidsskriftkassett</span
      >. , eller så ligger de løst i en pose med tidsskriftkassetten.
    </p>

    <div class="mx-auto flex max-w-lg justify-center pb-4 pt-2">
      <ResponsiveImage
        src={tidsskriftkassett}
        sizes={[400, 700, 900]}
        alt="bildet av tidsskriftkassetten"
        format="avif"
      />
    </div>

    <p>
      Flere av oppskriftene er løse ark som blir gravd opp i ny og ne, noe som
      etter lang tid gjør oppsriftene vanskeligere å lese. Blekk som blir
      utydeligere spm tiden går, flekker som kommer på papirene, ark som blir
      revet, osv er de vanligste skrammene de får.
    </p>

    <div
      class="flex max-w-4xl flex-col items-center gap-1 pb-4 pt-2 sm:flex-row sm:justify-around"
    >
      <div class="sm:w-1/2">
        <ResponsiveImage
          src={ark1}
          sizes={[300, 350, 400, 450, 500, 600]}
          alt="bildet av et slitt ark"
          format="avif"
        />
      </div>
      <div class="sm:w-1/2">
        <ResponsiveImage
          src={ark2}
          sizes={[300, 350, 400, 450, 500, 600]}
          alt="bildet av enda et slitt ark"
          format="avif"
        />
      </div>
    </div>

    <p>
      Riktig nok er de fleste i good stand, men uansett så er det kjekt å ha
      muligheten til å søke digialt. Derav kommer behovet for denne siden. Et
      digitalt arkiv over oppskriftene.
    </p>
  </div>
</Layout>
