---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Om siden">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore veritatis
    minus dolorem temporibus aliquid saepe, fugiat adipisci velit voluptate
    officiis, dolore quos dignissimos veniam quisquam dolorum cumque repellat
    quo ex!
  </p>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat sed
    quisquam ratione neque repudiandae, commodi consequuntur delectus autem
    nesciunt temporibus. Ducimus ut eos et reprehenderit fugit assumenda
    voluptate in tenetur provident non, obcaecati, similique numquam. Dicta
    dolorem nostrum delectus porro itaque. Ratione alias hic nemo odio beatae
    molestiae ipsa quas?
  </p>
</Layout>
