---
import Layout from "../layouts/Layout.astro";

import tidsskriftkassett from "../assets/about-images/tidsskriftkassett.jpg";
import ark1 from "../assets/about-images/slitt-ark-1.jpg";
import ark2 from "../assets/about-images/slitt-ark-2.jpg";
import { Image } from "astro:assets";
---

<Layout
  page_title="Om Siden"
  description="Bakgrunn for siden"
  tab_title="Om Siden"
>
  <div class="max-w-4xl mx-auto">
    <p>
      Bente har alltid vært opptatt av baking og matlaging, og gjennom årene har
      det blitt samlet mange oppskrifter. Oppskriftene kan være ut klipp av
      magasiner, aviser, skrevet på ark eller handlelapper, utskrifter fra nett.
      Men alt er skrevet på papir og oppbevares i en gammel, nokså nedslit <span
        class="italic">tidsskriftkassett</span
      >. , eller så ligger de løst i en pose med tidsskriftkassetten.
    </p>

    <div class="flex justify-center pt-2 pb-4">
      <Image src={tidsskriftkassett} alt="Bildet av tidsskriftkassetten" />
    </div>

    <p>
      Flere av oppskriftene er løse ark som blir gravd opp i ny og ne, noe som
      etter lang tid gjør oppsriftene vanskeligere å lese. Blekk som blir
      utydeligere spm tiden går, flekker som kommer på papirene, ark som blir
      revet, osv er de vanligste skrammene de får.
    </p>

    <div
      class="flex flex-col sm:flex-row items-center sm:justify-around pt-2 pb-4 gap-1"
    >
      <Image src={ark1} alt="slitt ark" width={320} />
      <Image src={ark2} alt="slitt ark" width={320} />
    </div>

    <p>
      Riktig nok er de fleste i good stand, men uansett så er det kjekt å ha
      muligheten til å søke digialt. Derav kommer behovet for denne siden. Et
      digitalt arkiv over oppskriftene.
    </p>
  </div>
</Layout>
