---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const oppskrifter = await getCollection("oppskrifter");

const total = oppskrifter.length;
---

<Layout tab_title="Bentes Opskrifter" description="pls i try">
  <p class="text-xl py-6 text-center">
    Dette er et arkiv over oppskrifter som Bente har samlet.
  </p>

  <h3 class="text-center">Det er totalt {total} oppskrifter</h3>
</Layout>
