---
const today = new Date();
---

<footer class="text-center">
  <hr class="my-8 h-px border-0 bg-gray-400" />
   &copy; {today.getFullYear()}
  <span class="p-1 font-semibold underline"><a href="https://github.com/Mordi490">Mordi</a></span>.
  All rights reserved.
</footer>
