---
const today = new Date();
---

<footer class="text-center">
  <hr class="h-px my-8 bg-gray-200 border-0" />
   &copy; {today.getFullYear()}
  <span class="underline font-semibold"
    ><a href="https://github.com/Mordi490">Mordi</a></span
  >. All rights reserved.
</footer>
