---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<li class="flex rounded-lg bg-gray-500 px-4 py-2 shadow-lg leading-6 hover:bg-gray-600">
  <a href={href}>
    <h2 class="text-xl">
      {title}
      <span>&rarr;</span>
    </h2>
  </a>
</li>
