---
const { prevUrl, nextUrl } = Astro.props;
---

<nav aria-label="Pagination" class="flex justify-between px-1">
  <div class="flex">
    {
      prevUrl && (
        <a
          class="rounded border-2 border-gray-700 bg-green-700 px-4 py-2 font-semibold text-white hover:bg-green-800 hover:shadow"
          href={prevUrl}
        >
          Forrige Side
        </a>
      )
    }
  </div>

  <div class="flex">
    {
      nextUrl && (
        <a
          class="rounded border-2 border-gray-700 bg-green-700 px-4 py-2 font-semibold text-white hover:bg-green-800 hover:shadow"
          href={nextUrl}
        >
          Neste Side
        </a>
      )
    }
  </div>
</nav>
