---
const { prevUrl, nextUrl } = Astro.props;
---

<nav aria-label="Pagination" class="flex justify-between px-1">
  <div class="flex">
    {
      prevUrl && (
        <a
          class="bg-green-700 hover:bg-green-800 hover:shadow text-white font-semibold py-2 px-4 rounded border-2 border-gray-700"
          href={prevUrl}
        >
          Forrige Side
        </a>
      )
    }
  </div>

  <div class="flex">
    {
      nextUrl && (
        <a
          class="bg-green-700 hover:bg-green-800 hover:shadow text-white font-semibold py-2 px-4 rounded border-2 border-gray-700"
          href={nextUrl}
        >
          Neste Side
        </a>
      )
    }
  </div>
</nav>
