---
import type { CollectionEntry } from "astro:content";
type Props = {
  post: CollectionEntry<"oppskrifter">;
  aboveTheFold: boolean;
};
const { post, aboveTheFold } = Astro.props;
---

<a href={`${Astro.url.origin}/oppskrifter/${post.slug}`}>
  <h2
    class="px-4 py-2 text-lg font-semibold first-letter:capitalize hover:underline active:underline"
  >
    {post.data.title}
  </h2>
</a>
