---

---

<aside class="flex justify-center py-2">
  <form>
    <div class="flex flex-col">
      <label for="search" class="font-bold text-lg" aria-hidden="true"
        >Søk etter oppskrift</label
      >
    </div>
    <input
      class="border-2 border-solid border-black rounded-lg px-4 py-2 text-lg text-gray-800 focus:outline-none focus:ring focus:border-blue-300"
      type="search"
      name="search"
      id="search"
      min="1"
      max="40"
      placeholder="Skriv her"
      required
    />
  </form>
</aside>

<script>
  const form = document.querySelector("form");
  form?.addEventListener("submit", (e) => {
    e.preventDefault();
    const formData = new FormData(form);

    const searchTerm = formData.get("search")?.toString();
    if (!searchTerm || searchTerm.length === 0) return;
    const url = new URL("/search", window.location.origin);
    url.searchParams.set("q", searchTerm);
    window.location.assign(url.toString());
  });
</script>
