---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const oppskrifter = await getCollection("oppskrifter");
---

<Layout
  tab_title="Oppskrifter"
  description="Samling av oppskrifter"
  page_title="Liste over alle oppskifter"
>
  <ul class="flex flex-col gap-2 py-2 sm:grid sm:grid-cols-2 xl:grid-cols-3">
    {
      oppskrifter.map((o) => (
        <li class="text-lg font-semibold active:underline hover:underline rounded-full px-4 py-2 truncate ">
          <a href={`/oppskrifter/${o.slug}`}>{o.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
