---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

// TODO: consider adding sorting and filters
const oppskrifter = await getCollection("oppskrifter");
---

<Layout title="Oppskrifter">
  <main>
    <section class="max-w-4xl">
      <ul class="flex flex-col space-y-4 py-2">
        {
          oppskrifter.map((o) => (
            <li class="dark:text-white text-lg font-semibold active:underline  hover:underline border-1 border-red-400 border truncate rounded w-fit mx-auto px-4 py-2">
              <a href={`/oppskrift/${o.slug}`}>{o.data.title}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
